header{
    border-color: blue;
    color: yellow;
    text-shadow: 
        -5px -5px 0 #002678,  
        5px -5px 0 #002678,
        -5px 5px 0 #002678,
        5px 5px 0 #002678;
}
header h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}
#kanto-list li {
    list-style: none;
    margin-right: 1em;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(199, 193, 193);
    border-radius: 1px;
}

#kanto-list {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

#team {
    background-color: lightgray;
    padding: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#team li {
    list-style: none;
    margin-right: 1em;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(199, 193, 193);
    border-radius: 1px;
}

.pokemon-image{
    width: 150px;
    height: 150px;
}